[Unit]
Description=RoboCounter
After=network-online.target pigpiod.service

[Service]

User=pi

WorkingDirectory=/home/pi/robocounter

ExecStart=/usr/bin/python3 /home/pi/robocounter/main.py

Restart=always

RestartSec=5

[Install]
WantedBy=multi-user.target