<!doctype html>
<html>
<head>
<link
    rel="icon"
    href="/static/favicon.ico">    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Robo časomíra</title>
<link rel="stylesheet"
      href="/static/style.css">
</head>

<body>
<header>
    <h1>Robo časomíra</h1>
</header>

<!-- ===================================== -->
<!-- BIG DISPLAY -->
<!-- ===================================== -->

<div id="bigTimer">
    0.00
</div>

<div id="status">
    PŘIPRAVEN
</div>

<!-- ===================================== -->
<!-- STATS -->
<!-- ===================================== -->

<div class="stats">
    <div class="card">
        <span>Poslední čas</span>
        <strong id="last">
            -
        </strong>

    </div>

    <div class="card">
        <span>Nejlepší čas</span>
        <strong id="best">
            -
        </strong>
    </div>

    <div class="card">
        <span>Počet jízd</span>
        <strong id="count">
            0
        </strong>
    </div>

    <div class="card">
        <span>Brána ID</span>
        <strong id="gateDisplay">
            1
        </strong>
    </div>

    <div class="card">
        <span>Tým</span>
        <select
            id="team_id"
            onchange="saveTeamId()">
        </select>
    </div>
</div>

<!-- ===================================== -->
<!-- BUTTONS -->
<!-- ===================================== -->

<div class="toolbar">
    <button id="btnSettings">
        ⚙ Nastavení
    </button>

    <button onclick="resetResults()">
        Smazat měření
    </button>

    <button onclick="exportCSV()">
        Export do CSV
    </button>
</div>

<!-- ===================================== -->
<!-- HISTORY -->
<!-- ===================================== -->

<div class="history">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Čas</th>
                <th>Datum</th>
                <th id="apiHeader">
                    Server API
                </th>
            </tr>
        </thead>
        <tbody id="historyBody">
        </tbody>
    </table>
</div>

<!-- ===================================== -->
<!-- SETTINGS MODAL -->
<!-- ===================================== -->

<div id="settingsModal"
     class="modal">
    <div class="modal-content">
        <h2>
            Nastavení
        </h2>

        <div class="tabs">
            <button class="tab-btn active" onclick="showTab('timer', this)">
                Časomíra
            </button>

            <button class="tab-btn active" onclick="showTab('wifi', this)">
                Wi-Fi
            </button>

            <button class="tab-btn active" onclick="showTab('api', this)">
                API server
            </button>

            <button class="tab-btn active" onclick="showTab('system', this)">
                Systém
            </button>
        </div>

        <!-- TIMER -->

        <div id="tab_timer"
             class="tab">
             <label>
                ID této brány (dráhy)
                <select id="gate_id">
                </select>
            </label>

            <label class="switch-row">
                Aktivní v LOW (vstup)

                <label class="switch">
                    <input
                        type="checkbox"
                        id="sensor_active_low">
                    <span class="slider"></span>
                </label>
            </label>

            <label>
                Zákmity brány (ms)
                <input type="number"
                       id="debounce_ms">
            </label>

            <label>
                Minimální čas mezi START a STOP (ms)
                <input
                    type="number"
                    id="min_run_ms"
                    min="0"
                    step="100"
                >
            </label>
            <div class="hint">
                Ignoruje STOP události kratší než nastavený čas (ms).
            </div>

            <label>
                Reproduktor START (ms)
                <input type="number"
                       id="buzzer_start_ms">
            </label>

            <label>
                Reproduktor STOP (ms)
                <input type="number"
                       id="buzzer_stop_ms">
            </label>
        </div>

        <!-- WIFI -->

        <div id="tab_wifi"
             class="tab hidden">
            <label>
                Režim sítě
                <select id="wifi_mode">
					<option value="auto">
						Auto
					</option>
                    <option value="ap">
                        Access Point
                    </option>
                    <option value="client">
                        Klient
                    </option>
                </select>
            </label>

            <h3>Klient (STA)</h3>

            <label>
                SSID
                <input id="client_ssid">
            </label>

            <label>
                Heslo
                <input
                    id="client_password"
                    type="password">
            </label>

            <hr>

            <h3>Přístupový bod (AP)</h3>

            <label>
                SSID
                <input id="ap_ssid">
            </label>

            <label>
                Heslo
                <input
                    id="ap_password"
                    type="password">
            </label>

            <div class="hint">
            <b>Auto</b> = pokusí se připojit k uložené Wi-Fi síti (STA). Pokud se do 30 sekund nepřipojí, vytvoří si vlastní síť (AP).</br>
            <b>Klient</b> = pouze připojení do Wi-Fi (STA).</br>
            <b>AP</b> = vždy vytvoří vlastní síť (AP).</br>
            V režimu AP bude IP adresa pro prohlížeč: http://10.42.0.1
            </div>
        </div>

        <!-- API remote -->

        <div id="tab_api"
             class="tab hidden">
            <label class="switch-row">
                Povolit odesílání na server
                <label class="switch">
                    <input
                        type="checkbox"
                        id="api_enabled">
                    <span class="slider"></span>
                </label>
            </label>

            <label class="switch-row">
                Automatické odesílání (bez klikání)
                <label class="switch">
                    <input
                        type="checkbox"
                        id="api_auto_send">
                    <span class="slider"></span>
                </label>
            </label>

            <hr>

            <label>
                Adresa serveru
                <input
                    id="api_url"
                    placeholder="https://server.cz/api/results"
                >
            </label>

            <label>
                API klíč
                <input
                    id="api_key"
                    type="password"
                >
            </label>
            <div class="hint">
            Přístup ke vzdálenému serveru pro odesílání výsledků z časomíry.
            </div>
        </div>

        <!-- SYSTEM -->

        <div id="tab_system"
             class="tab hidden">
            <div id="systemInfo">
            </div>

            <label class="switch-row">
                Logování do souboru

                <label class="switch">
                    <input
                        type="checkbox"
                        id="log_enabled">
                    <span class="slider"></span>
                </label>
            </label>

            <button onclick="restartApp()">
                Restart aplikace
            </button>

            <button onclick="rebootPi()">
                Restart Raspberry
            </button>

            <button onclick="shutdownPi()">
                Vypnout Raspberry
            </button>

            <button onclick="exportConfig()">
                Export nastavení
            </button>

        </div>

        <div class="modal-footer">
            <button onclick="saveConfig()">
                Uložit
            </button>

            <button onclick="closeSettings()">
                Zavřít
            </button>
        </div>
    </div>
</div>

<script src="/static/app.js"></script>

</body>
</html>